# Virtual environment
bin/
include/
lib/
lib64
pyvenv.cfg

# Python
__pycache__/
*.pyc
*.pyo

# Secrets
.env

# LSP/Tools
.ruff_cache/
.venv/

# Database
*.db
*.db-backup
*.db-journal
*.db-wal
*.db-shm
